{% extends "base.html" %}

{% block content %}


                 
  <h2>Locations</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      	{% for location in locations %}
        <tr>
          <td>{{ location.id }}</td>
          <td>{{ location.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    
{% endblock %}




